&.no011 {
    background-color: #6D8F45;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(40 / 256 * var(--width-fr));
        width: calc(114 / 256 * var(--width-fr));
        height: calc(32 / 256 * var(--width-fr));
        background-color: #BBD481;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: calc(36 / 256 * var(--width-fr));
        right: calc(22 / 256 * var(--width-fr));
        width: calc(42 / 256 * var(--width-fr));
        height: calc(86 / 256 * var(--width-fr));
        background-color: #BBD481;
    }

    >div:nth-child(1) {
        position: absolute;
        top: calc(32 / 256 * var(--width-fr));
        left: 0;
        width: calc(178 / 256 * var(--width-fr));
        height: calc(224 / 256 * var(--width-fr));
        background-color: #BBD481;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: calc(-14 / 256 *var(--width-fr));
            height: calc(224 / 256 *var(--width-fr));
            border-top: calc(14 / 256 *var(--width-fr)) solid transparent;
            border-left: calc(14 / 256 *var(--width-fr)) solid #BBD481;
        }

        &::after {
            content: "";
            position: absolute;
            left: calc(50 / 256 *var(--width-fr));
            bottom: 0;
            width: calc(24 / 256 *var(--width-fr));
            height: calc(50 / 256 *var(--width-fr));
            background-color: #ABC276;
        }

        >div:nth-child(1) {
            position: absolute;
            left: 0;
            bottom: calc(50 / 256 * var(--width-fr));
            width: calc(74 / 256 * var(--width-fr));
            height: calc(20 / 256 * var(--width-fr));
            background-color: #ABC276;

            &::before {
                content: "";
                position: absolute;
                left: calc(18 / 256 * var(--width-fr));
                bottom: calc(20 / 256 * var(--width-fr));
                width: calc(24 / 256 * var(--width-fr));
                height: calc(72 / 256 * var(--width-fr));
                background-color: #ABC276;
            }

            &::after {
                content: "";
                position: absolute;
                left: calc(18 / 256 * var(--width-fr));
                bottom: calc(70 / 256 * var(--width-fr));
                width: calc(58 / 256 * var(--width-fr));
                height: calc(24 / 256 * var(--width-fr));
                background-color: #ABC276;
            }
        }

        >div:nth-child(2) {
            position: absolute;
            left: calc(76 / 256 * var(--width-fr));
            bottom: calc(110 / 256 * var(--width-fr));
            width: calc(68 / 256 * var(--width-fr));
            height: calc(68 / 256 * var(--width-fr));
            background-color: #fff;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: calc(32 / 256 * var(--width-fr));
                background-color: #ABC276;
            }

            &::after {
                content: "";
                position: absolute;
                top: calc(32 / 256 * var(--width-fr));
                left: 0;
                right: 0;
                margin: 0 auto;
                width: calc(30 / 256 * var(--width-fr));
                height: calc(18 / 256 * var(--width-fr));
                background-color: #3C3C3C;
            }
        }
    }

    >div:nth-child(2) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(64 / 256 * var(--width-fr));
        height: calc(16 / 256 * var(--width-fr));
        background-color: #BBD481;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: calc(22 / 256 * var(--width-fr));
            height: 100%;
            background-color: #ABC276;
        }
    }
}